.certificates{
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    width: 320px;
      &:hover {
        .certificates__img {
          &:before {
            opacity: 1;
          }
          &:after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }
    }
  }
  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    display: block;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .2s ease-in-out all;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      height: 70px;
      width: 70px;
      border-radius: 50%;
      opacity: 0;
      transition: .2s ease-in-out all;
      background: #fff url(../img/search-red.svg) center no-repeat;
    }
  }
  &__title {
    display: block;
    margin-top: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
  }


}
@media (max-width: $xl) {
  .certificates{
    &__list{
      padding-bottom: 0;
    }
    &__item{
      width: 300px;
      margin-bottom: 60px;
    }
    &__img{
      height: 420px;
    }
  }
}

@media (max-width: $lg) {
  .certificates{
    &__list{
      padding-bottom: 0;
    }
    &__item{
      width: 220px;
      margin-bottom: 60px;
    }
    &__img{
      height: 315px;
    }
  }
}
@media (max-width: $md) {
  .certificates{
    &__list{
      padding-bottom: 0;
    }
    &__item{
      width: 240px;
      margin-bottom: 60px;
    }
    &__img{
      height: 340px;
    }
  }
}
@media (max-width: $sm) {
  .certificates{
    &__list{
      padding-bottom: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__item{
      width: 240px;
      margin-bottom: 40px;
    }
    &__img{
      height: 340px;
    }
  }
}