.consultation {
  color: #fff;
  background: url(../img/consultation.jpg) 90% 50%/cover no-repeat;
  padding: 110px 0;
  &__desc {
    font-size: 23px;
    line-height: 137.69%;
    margin-bottom: 60px;
  }
  h2 {
    margin-bottom: 25px;
  }
  form {
    display: flex;
    input[type="text"], input[type="email"], input[type="tel"] {
      max-width: 312px;
      width: 100%;

      background: #FFFFFF;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;

      font-size: 18px;
      height: 60px;
      margin-right: 20px;
      padding: 0 22px;

      &::-webkit-input-placeholder {
        color: #5D5D6F;
      }
      &::-moz-placeholder {
        color: #5D5D6F;
      }
      &:-moz-placeholder {
        color: #5D5D6F;
      }
      &:-ms-input-placeholder {
        color: #5D5D6F;
      }
    }
    input[type="submit"] {
      max-width: 305px;
      width: 100%;

      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
      background: #B40600;
      border-radius: 5px;
      height: 60px;
      transition: .2s ease-in-out background;
      &:hover {
        background: #8c0600;
      }
    }
  }
}

@media (max-width: $xl) {
  .consultation {
    background-position: 80% 50%;
    form{
      input[type="text"], input[type="email"], input[type="tel"] {
        width: 80%;
      }
    }
  }
}
@media (max-width: $lg) {
  .consultation {
    padding: 95px 0;
    &__desc{
      font-size: 18px;
      max-width: 450px;
    }
    form{
      input[type="text"], input[type="email"], input[type="tel"] {
        font-size: 16px;
        padding: 0 15px;
        margin-right: 15px;
        height: 50px;
      }
      input[type="submit"]{
        font-size: 16px;
        height: 50px;
      }
    }
  }
}
@media (max-width: $md) {
  .consultation {
    padding: 70px 0 40px;
    position: relative;
    &:before{
      opacity: .24;
      background: linear-gradient(0deg, rgba(33, 38, 56, 0.24), rgba(33, 38, 56, 0.24)), linear-gradient(90deg, #939BA2 67.97%, rgba(169, 169, 193, 0) 93.43%), #70708C;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    h2{
      max-width: 350px;
      margin-bottom: 15px;
    }
    &__desc{
      max-width: 350px;
      margin-bottom: 25px;
    }
    form{
      flex-direction: column;
      input[type="text"], input[type="email"], input[type="tel"] {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
        max-width: 340px;

      }
      input[type="submit"]{
        width: 100%;
        max-width: 340px;
      }
    }
  }
}