.header {
  background: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  z-index: 2;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    min-width: 286px;
    margin-right: 10px;
    line-height: 1;
  }
  &__logo-picture {
    display: block;
    width: 286px;
    min-width: 286px;
    height: 44px;
    background: url(../img/logo.svg) left center/contain no-repeat;
    margin-bottom: 8px;
  }
  &__logo-desc {
    font-weight: normal;
    font-size: 13px;
  }

  &__search {
    position: relative;
    margin-right: 10px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      width: 16px;
      height: 16px;
      background: url(../img/search.svg) center/contain no-repeat;

    }

    input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    input::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    input:-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  &__search-input {
    width: 312px;
    height: 47px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 47px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box !important;
  }

  &__address-box {
    display: flex;
    width: 480px;
    justify-content: space-between;
  }
  &__address {
    line-height: 130%;
    max-width: 227px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    &:before {
      content: '';
      background: url(../img/marker.svg) center/contain no-repeat;
      min-width: 12px;
      width: 12px;
      height: 16px;
      margin-right: 15px;
    }
  }
  &__email {
    display: flex;
    align-items: center;
    transition: .2s ease-in-out all;
    margin-right: 10px;
    &:before {
      content: '';
      background: url(../img/mail.svg) center/contain no-repeat;
      min-width: 15px;
      width: 15px;
      height: 12px;
      margin-right: 10px;
      transform: translateY(1px);
    }
    &:hover {
      opacity: .7;
    }
  }
  &__tel {
    font-weight: bold;
    font-size: 18px;
    transition: .2s ease-in-out all;
    &:hover {
      opacity: .7;
    }
  }

  &__mobile-open {
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: #110D10;
    z-index: 10;
    transition: .3s ease-in-out opacity, .4s ease-in-out transform;
    transform: translateX(-100%);
    opacity: 0;
    &.active {
      //transform: translateX(0);
      //opacity: 1;
    }
    .header__search {
      margin-right: 0;

    }
    .header__search-input {
      width: 88%;
    }
    .burger {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 30px;
      height: 47px;
      background: transparent !important;
      &:hover {
        span {
          &, &:before, &:after {
            background: #c5c5c5 !important;
          }
        }
      }
    }

    .header__tel {
      font-weight: bold;
      font-size: 18px;
      color: #FFFFFF;
      margin-bottom: 8px;
      margin-top: 20px;
      display: block;
    }
    .header__callback {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5px;
      background: #B40600;
      border-radius: 5px;
      height: 49px;
      width: 210px;
      transition: .2s ease-in-out background;
      &:before {
        content: '';
        background: url(../img/tel.svg) center/contain no-repeat;
        width: 18px;
        height: 18px;
        margin-right: 12px;
      }
      &:hover {
        color: #fff;
        background: #8c0600;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    padding-bottom: 15px;
    margin-top: 15px;
    li {
      margin-bottom: 5px;
    }
    a {
      font-family: $font-add;
      font-size: 24px;
      color: #FFFFFF;
      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  &__search-row {
    position: relative;
    height: 47px;
  }

}

@media (max-width: 1320px) {
  .header {
    &__search-input {
      width: 250px;
    }
    &__address-box {
      width: 380px;
    }
  }
}

@media (max-width: $xl) {
  .header {

    &__logo {
      min-width: 215px;
      width: 215px;
      line-height: .9;
    }
    &__logo-picture {
      height: 33px;
      min-width: 215px;
      width: 215px;
      margin-bottom: 6px;
    }
    &__logo-desc {
      font-size: 12px;
    }
    &__search:before {
      left: 14px;
    }
    &__search-input {
      width: 185px;
      padding-left: 35px;
    }

    &__address {
      margin-bottom: 5px;
      margin-right: 10px;
      max-width: 100%;

    }
    &__address-box {
      flex-direction: column;
      font-size: 14px;
      width: 265px;
    }
    &__email:before {
      transform: translateY(0);
    }
  }
}

@media (max-width: $lg) {
  .header {
    padding: 0;
    &__address-box {
      display: none;
    }
    &__search {
      input {
        border: none;
      }
    }
    &__address {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      margin-bottom: 12px;
      border-top: 1px solid rgba(112, 112, 140, 0.2);
      padding-top: 20px;
    }
    a.header__email {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      text-decoration: underline;
      transition: .2s ease-in-out text-decoration-color, .2s ease-in-out color;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
        text-decoration-color: transparent;
      }
    }

    &__logo {
      min-width: auto;
      width: auto;
    }
    &__logo-picture {
      height: 26px;
      min-width: 170px;
      width: 170px;
      margin-bottom: 4px;
    }
    &__tel {
      font-size: 16px;
    }

    &__mobile {
      display: flex;
      margin-right: -15px;
    }
    &__callback {
      font-size: 14px;
      line-height: 1;
      color: #000000;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 5px;
      transition: .2s ease-in-out background;
      width: 190px;
      height: 66px;
      background: #EFEFEF;
      padding-bottom: 2px;
      &:hover {
        background: #e3e3e3;
      }
      &:before {
        content: '';
        background: url(../img/tel-red.svg) center/contain no-repeat;
        width: 18px;
        height: 18px;
        margin-right: 12px;
      }
    }

    &__mobile-open {
      &.active {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &__search {
      transition: .2s ease-in-out opacity, .2s ease-in-out transform, .2s ease-in-out visibility;
      &.hide {
        height: 0;
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
      }
    }

    &__mobile-back {
      font-family: $font-add;
      font-size: 16px;
      color: #747474;
      cursor: pointer;
      transition: .2s ease-in-out opacity, .2s ease-in-out transform, .2s ease-in-out visibility;

      position: absolute;
      top: 9px;
      left: 0;

      &:before {
        display: inline-block;
        content: '';
        background: url(../img/arrow-gray.svg) center/contain no-repeat;
        width: 10px;
        height: 15px;
        margin-right: 16px;
        transform: translateY(2px);
      }
      &:hover {
        opacity: .8;
      }
      &.hide {
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
      }
    }

    &__menu {
      transition: .2s ease-in-out opacity, .2s ease-in-out transform, .2s ease-in-out visibility;
      &.hide {
        height: 0;
        transform: translateX(-20px);
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
  }
}

@media (max-width: $md) {
  .header {
    &__tel {
      font-size: 14px;
    }
    &__callback {
      width: 66px;
      font-size: 0;
      padding-left: 10px;
    }
  }
}

@media (max-width: $sm) {
  .header {

    &__wrap {
      flex-wrap: wrap;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #EFEFEF;
      }
    }
    &__logo {
      width: 100%;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    &__logo-picture {
      width: 100%;
      min-width: 100%;
    }
    &__tel {
      position: relative;
      z-index: 1;
    }
    &__mobile {
      position: relative;
      z-index: 1;

    }
    &__callback {
      width: 50px;
      height: 50px;
      &:before {
        width: 15px;
        height: 15px;
      }
    }

    &__mobile-open {
      .burger {
        width: 23px;
      }
    }
  }
}