.nav {
  margin-top: 12px;
  height: 60px;
  z-index: 2;
  position: relative;
  .container-fluid {
    max-width: 1830px;
  }
  &__cont {
    background: #11161B;
    border-radius: 5px;
    height: 100%;
    position: relative;
  }
  &__wrap {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__list{
    display: flex;
    li{
      margin-right: 33px;
    }
    a {
      font-family: $font-add;
      font-size: 18px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      height: 100%;
      &:hover{
        color: rgba(255, 255, 255, 0.7);
      }
      &.active{
        border-bottom: 4px solid #B40600;
        pointer-events: none;
      }
    }
  }
  &__callback{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    background: #B40600;
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 240px;
    transition: .2s ease-in-out background;
    &:before{
      content: '';
      background: url(../img/tel.svg) center/contain no-repeat;
      width: 18px;
      height: 18px;
      margin-right: 12px;
    }
    &:hover{
      color: #fff;
      background: #8c0600;
    }
  }
}