.projects {
  h1{
    position: relative;
    z-index: 1;
  }
  &__map {
    margin-top: -270px;
    width: calc(100% + 160px);
    margin-left: -80px;
    position: relative;
    margin-bottom: 10px;
    path {
      transition: .2s ease-in-out all;
      stroke: transparent;
      stroke-width: 0;
      &.active {
        stroke: #B40600;
        stroke-width: 3px;
      }
    }
  }
  [data-marker] {
    cursor: pointer;
  }
  &__info-box{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: .2s ease-in-out transform, .2s ease-in-out opacity, .2s ease-in-out visibility;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    width: 475px;
    min-height: 172px;
    border-bottom: 3px solid #B40600;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    &:before{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 37px;
      height: 24px;
      -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
      background: url(../img/triangle.svg) center no-repeat;
    }
    &.active{
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    &.n-novgorod{
      bottom: 57.6%;
      left: 9.5%;
    }
    &.moscow{
      bottom: 46.6%;
      left: 10.6%;
    }
    &.orel{
      bottom: 44.6%;
      left: 6.9%;
    }
    &.belgorod{
      bottom: 39.2%;
      left: 5.6%;
    }
    &.rostov-na-donu{
      bottom: 32%;
      left: 3.6%;
    }
    &.cheboksary{
      bottom: 39.9%;
      left: 16.1%;
    }
    &.kazan{
      bottom: 43.5%;
      left: 19.2%;
    }
    &.perm{
      bottom: 39.5%;
      left: 24.2%;
    }
    &.yekaterinburg{
      bottom: 34.8%;
      left: 27.7%;
    }
    &.irkutsk{
      bottom: 19.1%;
      //left: 60.5%;
      right: 39.3%;
      &:before{
        left: auto;
        right: 0;
        transform: rotateY(-180deg);
      }
    }
    &.chita{
      bottom: 18%;
      //left: 65.8%;
      right: 34.1%;
      &:before{
        left: auto;
        right: 0;
        transform: rotateY(-180deg);
      }
    }
  }
  &__info-box-text{
    padding: 24px 24px 10px;
    p{
      margin-bottom: 0;
      margin-top: 10px;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      color: #000000;
      padding-left: 14px;
      border-left: 2px solid #C4C4C4;
    }
  }
  &__info-box-title{
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    text-decoration-line: underline;
    color: #B40600;
    line-height: 1.2;


  }
  &__info-box-count{
    font-size: 16px;
    color: #49495A;
    display: inline-block;
    line-height: 1;
    margin-left: 15px;
    font-weight: normal;
  }
  &__info-box-img{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 165px;
    min-width: 165px;
    min-height: 100%;
  }

  &__сities{
    padding-bottom: 50px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    &:last-of-type{
      border-bottom: none;
    }
  }
  &__city{
    font-family: $font-add;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 30px;
    padding-top: 35px;
  }
  &__item{
    display: flex;
    max-width: 480px;
    margin-right: 90px;
    margin-bottom: 40px;
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      color: #000000;
      margin: 0;
    }
  }
  &__img{
    margin-right: 20px;
    width: 173px;
    min-width: 173px;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 1320px) {
  .projects {
    &__map {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: $xl) {
  .projects {
    &__map {
    }
    &__list{
      justify-content: space-between;
    }
    &__item{
      max-width: 430px;
      margin-right: 0;
    }
  }
}
@media (max-width: $lg) {
  .projects {
    &__map {
      margin-top: -150px;
    }
    &__list{
    }
    &__item{
      margin-bottom: 33px;
      max-width: 520px;
    }

    &__city{
      padding-top: 25px;
      font-size: 30px;
    }
  }
}
@media (max-width: $md) {
  .projects {
    &__map {
      margin-top: -170px;
      path {
        stroke: transparent !important;
        stroke-width: 0 !important;
      }
    }
    &__info-box{
      display: none !important;
    }

    &__list{
    }
    &__item{
    }

    &__city{
      font-size: 26px;
      margin-bottom: 20px;
      padding-top: 20px;
    }
  }
}
@media (max-width: $sm) {
  .projects {
    &__map {
      margin-top: -100px;
    }
    &__item{
      flex-direction: column;

      margin-bottom: 35px;
    }
    &__img{
      margin-right: 0;
      width: 163px;
      min-width: 163px;
      height: 100px;
      margin-bottom: 15px;
    }
    &__city{
      padding-top: 25px;
    }
    &__сities {
      padding-bottom: 0px;
    }
  }
}