.team-inner{
  &__photo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 340px;
    height: 435px;
  }
  &__info{

  }
  &__name{

  }
  &__specialty{

  }
}