@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Roboto/RobotoLight.eot") format("eot"),
	url("../fonts/Roboto/RobotoLight.woff") format("woff"),
	url("../fonts/Roboto/RobotoLight.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Roboto/RobotoRegular.eot") format("eot"),
	url("../fonts/Roboto/RobotoRegular.woff") format("woff"),
	url("../fonts/Roboto/RobotoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/Roboto/RobotoBold.eot") format("eot"),
	url("../fonts/Roboto/RobotoBold.woff") format("woff"),
	url("../fonts/Roboto/RobotoBold.ttf") format("truetype");
}





@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.eot'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.woff') format('woff'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.eot'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.woff') format('woff'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PF DinDisplay Pro';
	src: url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.eot'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.woff') format('woff'),
	url('../fonts/PFDinDisplayPro/PFDinDisplayPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

